* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: url('Netflix.jpg') no-repeat center center/cover; /* po želji */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
body, input, select, label, p {
	  font-family: Arial, sans-serif;
}
#glavni {
  background-color: rgba(0, 0, 0, 0.9);
  border-radius: 10px;
  padding: 30px;
  width: 300px;
  color: white;
  box-shadow: 0 4px 10px rgba(0,0,0,0.6);
}
.n3 {
  margin-bottom: 15px;
}
.n3 p {
  font-size: 14px;
  margin-bottom: 5px;
  color: #ccc;
}
.n3 input{
  width: 100%;
  padding: 10px;
  border: 1px solid #555;
  border-radius: 6px;
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
}
.n3 input:focus {
  outline: none;
  border-color: #e50914; /* Netflix rdeča */
}
.n4{
  margin-bottom: 10px;
}
.n4 p{
  font-size: 14px;
  margin-bottom: 5px;
  color: #ccc;
}
.n4 label{
  font-size: 14px;
  margin-bottom: 5px;
  color: #ccc;	
}
#n1 {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 20px;
}
.n2 {
  margin-bottom: 15px;
}
.n2 p {
  font-size: 14px;
  margin-bottom: 5px;
  color: #ccc;
}
.n2 input {
  width: 100%;
  padding: 10px;
  border: 1px solid #555;
  border-radius: 6px;
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
}
.n2 input:focus {
  outline: none;
  border-color: #e50914; /* Netflix rdeča */
}
button{
  width: 100%;
  padding: 10px;
  background-color: #e50914;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 14px;
  cursor: pointer;
  margin:10px auto;
}
.g{
	background-color: #c50f18;
}
.g:hover{
	background-color: #4B0000;
}
hr {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}


